######################################
# Build
######################################
target/
build/
out/

######################################
# Maven
######################################
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

######################################
# Gradle
######################################
.gradle/
build/

######################################
# Logs
######################################
logs/
*.log

######################################
# Runtime files
######################################
*.pid
*.seed
*.pid.lock

######################################
# Environment variables
######################################
.env
.env.*
application-local.yml
application-dev.yml
application-prod.yml

######################################
# IDE - IntelliJ
######################################
.idea/
*.iml
*.iws
*.ipr

######################################
# IDE - VSCode
######################################
.vscode/
*/.vscode/*

######################################
# IDE - Eclipse
######################################
.project
.classpath
.settings/

######################################
# OS Files
######################################
.DS_Store
Thumbs.db

######################################
# Docker
######################################
docker-compose.override.yml

######################################
# Node (nếu có frontend)
######################################
node_modules/

######################################
# Test
######################################
/coverage/

######################################
# Kafka local data
######################################
kafka-logs/

######################################
# Database local
######################################
*.db
*.sqlite
